<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="myModalLabel">Employees</h4>
</div>

<div class="modal-body">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody id="show-users">
      <% @users.each do |user| %>
        <%= list_names_tag(user) %>
      <% end %>   
      <tr id="add-new-user">
        <td>New User</td>
        <td></td> 
        <td></td>
        <td></td>
      </tr>
      <tr id="miniform-user" style="display:none">
        <td><input class="form-control" id="input-user-name" placeholder="username"></td>
        <td><input class="form-control" id="input-email" placeholder="email"></td>
        <td><button class="btn btn-default" id="submit-new-user">Submit</button></td>
        <td><button class="btn btn-default" id="cancel-new-user">Cancel</button></td>
      </tr>
    </tbody>
  </table>
</div>